<div class="main-container">
  <app-header (toggleMenu)="isMenuVisible = !isMenuVisible" class="header-content">
  </app-header>

  <div class="content-area">
    <div class="menu-overlay d-md-none" *ngIf="isMenuVisible" (click)="isMenuVisible = false">
    </div>

    <div class="menu-container" [class.show-menu]="isMenuVisible" [class.hide-menu]="!isMenuVisible">
      <app-menu (closeMenu)="isMenuVisible = !isMenuVisible"></app-menu>
    </div>

    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>