<form [formGroup]="vaccinationForm" (ngSubmit)="onSubmit()">
  <div formArrayName="vaccinations">
    <div *ngFor="let vaccinationGroup of vaccinations.controls; let i = index" [formGroupName]="i" style="margin-bottom: 10px;">
      
      <!-- Show name as text for initial fruits -->
      <ng-container *ngIf="i < initialVaaccinationLength; else editableName">
        <strong>{{ vaccinationGroup.get('name')?.value }}</strong>
      </ng-container>

      <!-- Editable name input for newly added fruits -->
      <ng-template #editableName>
        <input formControlName="name" placeholder="Fruit Name" />
      </ng-template>

      <input formControlName="quantity" type="number" placeholder="Quantity" />

      <!-- Only allow removing newly added fruits -->
      <button type="button" (click)="removeVaccination(i)" *ngIf="i >= initialVaaccinationLength">Remove</button>
    </div>
  </div>

  <button type="button" (click)="addVaccination()">Add Fruit</button>
  <button type="submit">Submit</button>
</form>
