<ul class="nav nav-tabs">
  <li class="nav-item">
    <a
      class="nav-link"
      [class.active]="activeTab === 'A'"
      href="javascript:void(0)"
      (click)="switchTab('A')"
    >
      Form A
    </a>
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      [class.active]="activeTab === 'B'"
      href="javascript:void(0)"
      (click)="switchTab('B')"
    >
      Form B
    </a>
  </li>
</ul>

<div class="mt-3">
  <app-dynamic-form-component
    [schema]="activeSchema"
    [initialData]="formData"
    (formSubmit)="onFormSubmit($event)"
  ></app-dynamic-form-component>
</div>
